PORT=4000

CRYPT_SALT=10
JWT_SECRET_KEY=secret123123
JWT_SECRET_REFRESH_KEY=secret456456
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

# Database configuration
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=home_library
NODE_ENV=development

# Logging
# Log levels: error | warn | log | debug | verbose
# error - 0
# warn - 1
# log - 2
# debug - 3
# verbose - 4
LOG_LEVEL=verbose
# It's small for rotation testing purpose
LOG_FILE_MAX_SIZE_KB=2
